:root {
    --yellow: #F4C927;
    --c: #21213E;
    --c: #121231;
    --x: #0A0A1B;
}


.nav-bar {
    width: 150px;
    min-height: 100vh;
    background-color: #121231;
    border-radius: 20px;
    padding: 1rem 1rem;
}


.nav-bar .logo {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.93rem;
    color: #F4C927;
}

.nav {
    background-color: #21213E;
    border-radius: 7px;
    color: #eee;
    font-size: .9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    margin: 1rem 0;
    text-decoration: none;
    padding: 0.7rem 0;
}

.nav p {
    padding: 0;
    margin: 0;
    margin-left: -20px;
}

.nav.active {
    background-color: #F4C927;
}