:root {
    --yellow: #F4C927;
    --c: #21213E;
    --c: #121231;
    --x: #0A0A1B;
}

.specs-container {
    width: 100%;
    min-height: 100vh;
    background: #21213E;
    color: white;
}


/* ADD NEW SPECS */
.add-new-spec {
    padding: 3rem 3rem 1rem 105px;
}

.add-new-spec button {
    background-color: #F4C927;
    color: #0A0A1B;
    display: flex;
    border: 2px solid #F4C927;
    border-radius: 3px;
    padding: 0;
}

.add-new-spec button p {
    padding: .4rem .5rem;
    font-size: .75rem;
    font-weight: 500;
    margin: 0;
}

.add-new-spec button .icon {
    padding: 0;
    background: #121231;
    color: #FFEB3B;
    width: 40px;
    height: 27px;
    margin: 0;
    display: grid;
    font-size: 1.2rem;
    place-items: center;
    cursor: pointer;
    transition: all 35ms ease-in-out;
}

.add-new-spec button:hover,
.add-new-spec button:active {
    opacity: .7;
}

/* SPECS */

.specs-container .specs-layout {
    height: calc(100vh - 100px);
    overflow: auto;
}

.specs-container .specs-box {
    padding: 0.3rem 0.5rem;
    display: flex;
}

.specs-container .specs-box .specs-date {
    font-size: .8rem;
    margin: 1rem 0;
    width: 80px;
    position: relative;
}

.specs-container .specs-box .specs-date::after,
.specs-container .specs-box .specs-date::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background-color: #121231;
}

.specs-container .specs-box .specs-date::after {
    width: 15px;
    height: 15px;
    right: -8px;
    border-radius: 50%;
}

.specs-container .specs-box .specs-date::before {
    width: 3px;
    height: 130%;
    right: -1.5px;
}

.specs-content-layout {
    border: 1px solid #FFEB3B;
    border-radius: 5px;
    margin: 1rem;
    background-color: #121231;
    padding: 1rem 1.2rem;
    display: grid;
    grid-template-columns: 55% 15% 15% 15%;
    font-size: .75rem;
}

.specs-content-layout .specs-content {
    display: flex;
    flex-direction: column;
}

.specs-content-layout .specs-content .specs-content-title {
    padding: 0 .5rem .5rem 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.specs-content-layout .specs-content .specs-content-description {
    font-size: .75rem;
    padding-right: 1.7rem;

}

.specs-content-layout .specs-complete,
.specs-content-layout .specs-edit {
    display: flex;
    justify-content: center;
    align-items: center;
}


.specs-content-layout .specs-complete {}

.specs-content-layout .specs-edit {}

.specs-content-layout .specs-share-users {
    display: flex;
    justify-content: center;
    align-items: center;
}

.specs-content-layout .specs-share-users div {
    position: relative;
}


.specs-content-layout .specs-share-users .specs-share-user {
    width: 30px;
    border: 2px solid #F4C927;
    color: #F4C927;
    border-radius: 50%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #21213E;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4rem;
    font-family: monospace;
    font-weight: bold;
    line-height: 1;
}


.specs-content-layout .specs-share-users .specs-share-user:nth-child(1) {
    left: calc(50% - -20px);
}

.specs-content-layout .specs-share-users .specs-share-user:nth-child(2) {
    left: calc(50% - -6px);
}

.specs-content-layout .specs-share-users .specs-share-user:nth-child(3) {
    left: calc(50% - 12px);
}

.specs-content-layout .specs-share-users .specs-share-user:nth-child(4) {
    left: calc(50% - 30px);
}


.specs-box .specs-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

.specs-box .specs-delete:hover,
.specs-box .specs-delete:active {
    opacity: .7;
}